body {
  margin: 0;
  font-family: "Monserrat", sans-serif;
}
.container {
  width: 1240px;
  margin: auto;
  height: 100%;
}
.hero {
  background: url(https://s3-alpha-sig.figma.com/img/a397/4a28/0dc63d9ccd142ecdbf799689440dc6be?Expires=1699228800&Signature=VnNYmyeSFRuKK-mzpgzPcB5B6glemiyCnHheN56uloAa5Stco5UI9Ilc2g7~KTc2tfY8FJQxIGIBAW2U5P2RRzsFHmiffCChXH~g7UNbE8hYs-YjBFJsRxmEyBgEWTQaLvloO0-1QarxB6g3n1n2S2TkUmEllBZslS6BvCcV1ADyP0DhpPKbhD3dh2hsM~q3YXDzIZ~2fEUbzWEnXiakx2QtXlGG-H6ir8CE6u8KZAZpAl7L1riW~ogYnhLURT0spc2Q7JL4m737--1NSMrw6pTBIaiJICYaxbWf3h6vhcGOQyLsimIFnNqYrq80zg~JbItxG5UCUVpsH9OSXLU10w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4)
    center/cover;
  height: 720px;
}
.header {
  display: flex;
  align-items: center;

  /* padding: 15px 0;*/
}
.logo {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  text-decoration: none;
}
.nav {
  justify-content: center;
}
